

.blockform{
    display: flex;
    flex-direction: column;
}

.LabelForm{
    display: flex;
    flex-direction: column;
    height: 20px;
}

.NamesForm{
    padding-bottom: 5px;
}

.ButtonsContact{
    border: none;
    background: white;
    margin-top: 10px;
    padding: 3px 8px;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

.ButtonsContact:hover{
    background: rgb(238, 238, 238);
    transition: 0.5s;
}

.InputForm{
    margin-bottom: 20px;
}


.ErrorName{
    color: red;
    text-shadow: 1px 1px 1px white, 0px 1px 1px red;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 20px;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}