.ContactList{
    list-style: none;
    padding: 0;
}

.ItemContacts{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    border: 1px solid #ffc9c9;
    padding: 2px 5px;
    border-radius: 5px;
        background: #dcf2ff;
}