.HomePhone{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}


.PersonWelcom{
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.Forms{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 130px 20px 130px 20px;
    background: #d3f7fff0;
    box-shadow: 0 0 10px 5px rgb(221 221 221);
}

@media screen and (max-width: 768px){
.Forms{
    margin: 100px 20px 100px 20px;
}
}


.PhoneBook{
    text-align: center;
    font-family: sans-serif;
    color: #0439f9;
    margin-top: 0;
}

.Contacts{
    color: #2970af;
    font-family: sans-serif;
}

.FormRegister{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #dcf9fff0;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgb(221 221 221);
    margin: 130px 20px 20px 20px;
}

@media screen and (max-width: 768px){
.FormRegister{
    margin: 100px 20px 0 20px;
}
}

.InputRegister{
    margin-bottom: 10px;
}

.InputPosition{
    margin: 0;
    width: 100%;
}

.InputEidth{
    width: 100%;
    background: #e8f0fe;
}

.RegisterText{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #0439f9;
    font-family: sans-serif;
}

.TextProject{
    font-family: sans-serif;
    font-size: 14px;
}

.BackLogin{
    font-size: 16px;
    font-weight: 600;
    color: #0439f9;
}

.ButtRegis{
    margin-top: 20px;
}

.ErrorType{
    color: red;
    text-shadow: 1px 1px 1px white, 0px 1px 1px red;
    font-size: 14px;
}
