.ButtonsContact{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.NumberContacts{
    display: flex;
    align-items: center;
    color: #40317e;
    font-family: sans-serif;
    padding: 5px 0;
}

.DeleteContact{
    color: rgb(255, 160, 160);

}

.IconsDelete{
    fill: #00808d;
    transition: 0.6s;
}

.IconsDelete:hover{
    fill: red;
}

.IconsRemove{
    fill: red;
}

.EditButton{
    background: transparent;
    border: none;
    cursor: pointer;
    padding-right: 0;
}

.EditIcon{
    fill: #9c27b0;
    transition: 0.6s;
}

.EditIcon:hover{
    fill: #4300be;
}

.ButtonDone{
    background: transparent;
    border: 1px solid #04d504;
    border-radius: 50%;
    cursor: pointer;
    height: auto;
    padding: 3px 5px;
    transition: 0.5s;
    margin-left: 5px;
}

.ButtonDone:hover{
    background: #00ffa973;
}

.IconDone{
    fill: #04d504;
    height: auto;
}

.DefaultInput{
    display: flex;
    flex-direction: column;
}

.DroupContent{
display: flex;
    align-items: center;
    background: #c6faff;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 20px;
    transition: box-shadow 0.5s, transform 0.5s;
    box-shadow: 0 0 5px 5px rgb(0 43 255 / 50%);
    border-radius: 10px;
}

.DroupContent:hover{
    transform: translate(-50%, -50%) scale(1.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.Backdroup{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(26 26 26 / 79%);
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.InputModal{
    border: none;
    background: #e9fcff;
    color: #001fb5;
    outline: none;
    border-radius: 5px;
}

.InputModal:first-child{
    margin-bottom: 15px;
}

.editModal{
    position: absolute;
    top: 5px;
    right: 0px;
    background: transparent;
    border: none;
    color: rgb(253, 66, 66);
    cursor: pointer;
}

.editModal:hover{
    color: red;
    transition: 0.3s;
}

.EditDelete{
    display: flex;
}