.ButtonsContact{
    border: none;
    background: transparent;
    cursor: pointer;
}

.NumberContacts{
    padding-right: 10px;
    color: #076e5b;
    font-family: cursive;
}

.DeleteContact{
    color: rgb(255, 160, 160);

}

.IconsDelete{
    fill: #00808d;
    transition: 0.6s;
}

.IconsDelete:hover{
    fill: red;
}

.IconsRemove{
    fill: red;
}

.EditButton{
    background: transparent;
    border: none;
    cursor: pointer;
}

.EditIcon{
    fill: #13a711;
    transition: 0.6s;
}

.EditIcon:hover{
    fill: #4300be;
}

.ButtonDone{
background: transparent;
    border: 1px solid #04d504;
    border-radius: 50%;
    cursor: pointer;
    height: min-content;
    transition: 0.5s;
    margin-left: 5px;
}

.ButtonDone:hover{
    background: transparent;
    background: aquamarine;
}

.IconDone{
    fill: #04d504;
    height: 30px;
}

.DefaultInput{
    display: flex;
    flex-direction: column;
}

.DroupContent{
display: flex;
    align-items: center;
    background: #25488775;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 20px;
    transition: box-shadow 0.5s, transform 0.5s;
    box-shadow: 0 0 5px 5px rgb(0 43 255 / 50%);
    border-radius: 10px;
}

.DroupContent:hover{
    transform: translate(-50%, -50%) scale(1.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.Backdroup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(44 73 139 / 56%);
    height: 100%;
    width: 100%;
}

.InputModal{
    padding: 10px;
    border: none;
    background: #e9fcff;
    color: #001fb5;
    outline: none;
    border-radius: 5px;
}

.InputModal:first-child{
    margin-bottom: 10px;
}