.LabelForm{
    display: flex;
    flex-direction: column;
}

.NamesForm{
    padding-bottom: 15px;
    color: blue;
    font-family: cursive;
}

.InputName{
    outline: none;
}

.InputName::placeholder{
    color: #1717ff38;
}
